<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <title>Document</title>
</head>
<body>
  <div class="note-form">
    <div class="note-form-title">
      <div class="note-title-label">Note title</div>
      <input type="text" class="title" #noteTitle>
    </div>
    <div class="note-form-text">
      <div class="note-text-label">Your note</div>
      <textarea name="note" id="note" class="note" cols="30" rows="10" #noteText></textarea>
    </div>
    <button class="note-create" (click)="getData(noteTitle,noteText)">Create Note</button>
    <button class="note-clear" (click)="clearData(noteTitle,noteText)">Clear Note</button>
  </div>
  <div class="container" id="container">
    <div class="note-block" *ngFor="let item of notes" id={{item.noteId}}>
      <div class="note-title">{{item.noteTitle}}</div>
      <div class="note-text">{{item.noteText}}</div>
      <div class="note-date">{{item.noteCreateTime + "  " + item.noteCreateDate}}</div>
      <button class="note-delete" (click)="item.deleteNote();deleteData(item.noteId)">Delete Note</button>
    </div>
  </div>
</body>
</html>